header {
  height: 50px;
  background-color: #000;
  color: #fff;
  line-height: 50px;
  text-align: center;
  font-size: 1.2rem;
}

article {
  padding: 20px;
  border: 1px solid #1d1d1d;
  width: 150px;
  height: 150px;
  margin: 100px auto 0;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, .5);
}

.div-form {
  width: 200px;
  height: 200px;

  position: absolute;
  padding-top: 10px;
  left: 0;
  right: 0;

  margin: auto;
}

button {
  margin: 30px auto;
  display: block;
  width: 100px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: #f2f2f2;
  cursor: pointer;
}

.button-start {
  margin: 30px auto;
  display: block;
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: thistle;
  cursor: pointer;
}

.button-history {
  margin: 10px auto;
  display: block;
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: greenyellow;
  cursor: pointer;
}

.input-text {
  margin-bottom: 10px;
}

.hide { display: none; }

.reset-button {
  margin: 10px auto;
  display: block;
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid #ccc;
  cursor: pointer;
  background: orange;
  color: #fff;
}
.left-button {
  margin: 10px auto;
  display: inline;
  position: absolute;
  height: 50px;
  border-radius: 8px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: lavender;
  color: #000000;
  left: 10px;
}
.right-button {
  margin: 10px auto;
  display: inline;
  position: absolute;
  height: 50px;
  border-radius: 8px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: lavenderblush;
  color: #000000;
  right: 10px;
}


.container {
  list-style: none;
  width: inherit;
  height: inherit;
  padding:0;
  box-sizing: border-box;
  margin: 0 auto 0;
}

.container li {
  width: 50px;
  height: 50px;
  float: left;
  box-sizing: border-box;
  line-height: 50px;
  text-align: center;
}

.container li:first-child,
.container li:nth-child(2),
.container li:nth-child(4) ,
.container li:nth-child(5) {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.container li:nth-child(3),
.container li:nth-child(6) {
  border-bottom: 1px solid #ccc;
}

.container li:nth-child(7),
.container li:nth-child(8){
  border-right: 1px solid #ccc;
} 

.active { background-color: greenyellow; }
.winner {
  background-color: orange;
  color: #fff;
}

